/** HACKWRITE THEMING **/
/* Solarized colors */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
/* One size */
@media all and (min-width: 960px) {
  body {
    font-size: 30px;
  }
}
@media all and (max-width: 959px) and (min-width: 600px) {
  body {
    font-size: 20px;
  }
}
@media all and (max-width: 599px) and (min-width: 50px) {
  body {
    font-size: 16px;
  }
}
body {
  background-color: #1b1b1b;
  color: #8d8d8d;
  font-family: "Emilbus Mono", Menlo, Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  line-height: 1.4;
  padding: 1em;
}
#header {
  background-color: #000000;
  width: calc(98vw);
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
  left: 0;
  top: 0;
  font-size: .75em;
  font-weight: normal;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 9999;
  display: inline-block;
  display: block;
}
#header #brand {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
#header #menu {
  float: right;
}
#header #menu ul {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
#header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.entry-title,
menu,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}
pre,
code,
pre.code,
pre code,
.code,
.literal-block {
  background-color: #252525;
}
pre,
pre.code,
pre code,
.literal-block {
  margin-left: -4em;
  margin-right: -4em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}
a {
  color: #268bd2;
}
a:link {
  color: #268bd2;
}
a:visited {
  color: #268bd2;
}
a:hover {
  color: #268bd2 !important;
  text-decoration: underline;
}
.headers {
  color: #cb4b16 !important;
  text-decoration: none;
}
h1,
h2,
h3,
.postpage .entry-title a,
.postpage .entry-title a:hover {
  color: #cb4b16 !important;
  text-decoration: none;
  font-weight: bold;
}
h4,
h5,
h6 {
  color: #cb4b16 !important;
  text-decoration: none;
  font-weight: normal;
}
.markup-reveal {
  font-size: .75em;
  font-weight: lighter;
  color: #252525;
}
.entry-content p {
  position: relative;
}
.entry-content p:before,
.entry-content p:after {
  font-size: .75em;
  font-weight: lighter;
  color: #252525;
}
.entry-content p:before {
  content: "<p>";
  position: absolute;
  left: -3ch;
}
.entry-content p:after {
  content: "</p>";
}
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-left: -1ch;
}
article h2:before,
article h3:before,
article h4:before,
article h5:before,
article h6:before {
  font-weight: normal;
  font-size: .8em;
  color: #86310f;
}
body {
  counter-reset: h2;
}
h2 {
  counter-reset: h3;
}
h3 {
  counter-reset: h4;
}
h4 {
  counter-reset: h5;
}
h5 {
  counter-reset: h6;
}
h2:before {
  counter-increment: h2;
  content: counter(h2) " — ";
}
h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) " — ";
}
h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) " — ";
}
h5:before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " — ";
}
h6:before {
  counter-increment: h6;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " — ";
}
article h2:after {
  font-size: .75em;
  font-weight: lighter;
  color: #252525;
  content: " </h2>";
}
article h3:after {
  font-size: .75em;
  font-weight: lighter;
  color: #252525;
  content: " </h3>";
}
article h4:after {
  font-size: .75em;
  font-weight: lighter;
  color: #252525;
  content: " </h4>";
}
article h5:after {
  font-size: .75em;
  font-weight: lighter;
  color: #252525;
  content: " </h5>";
}
article h6:after {
  font-size: .75em;
  font-weight: lighter;
  color: #252525;
  content: " </h6>";
}
article ul {
  margin-left: none;
  padding-left: 2ch;
}
article ul,
article ul li {
  margin-left: none;
  list-style-type: none;
}
article ul li:before {
  content: " - ";
  color: #6c71c4;
}
article ul li li:before {
  content: " -- ";
}
article ul li li li:before {
  content: " --- ";
}
article ul li li li li:before {
  content: " ---- ";
}
ol {
  counter-reset: item;
  padding-left: 2ch;
}
ol li {
  padding-left: 0;
  display: block;
}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #6c71c4;
}
ol ol {
  counter-reset: nest-item;
}
ol ol li:before {
  content: counter(nest-item) ". ";
  counter-increment: nest-item;
}
ol ol ol {
  counter-reset: nest-nest-item;
}
ol ol ol li:before {
  content: counter(nest-nest-item) ". ";
  counter-increment: nest-nest-item;
}
ol ul li:before {
  content: " - ";
  counter-increment: none;
}
.metadata:before,
.metadata:after {
  color: #676767;
  white-space: pre-wrap;
  display: block;
}
.metadata:before {
  content: "<!--";
}
.metadata:after {
  content: "-->";
}
.metadata p {
  display: block;
  margin: 0;
  padding-left: 2ch;
}
.metadata p:before {
  color: #676767;
}
.metadata p:after {
  content: none;
}
.metadata .byline:before {
  color: #676767;
  content: " .. author:";
}
.metadata .dateline:before {
  content: " .. published: ";
}
.metadata .sourceline:before {
  content: " .. view_source: ";
}
blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 3ch;
  border-left: 1px solid #252525;
}
blockquote:before,
blockquote:after {
  font-size: .75em;
  font-weight: lighter;
  color: #252525;
  display: block;
}
blockquote:before {
  content: "<blockquote>";
}
blockquote:after {
  content: "</blockquote>";
}
blockquote p:before,
blockquote p:after {
  content: none !important;
}
blockquote cite {
  color: #676767;
  font-style: italic;
  display: block;
  margin-left: 2ch;
}
blockquote cite:before {
  content: "— ";
}
article.postpage header:before {
  font-size: .75em;
  font-weight: lighter;
  color: #252525;
  display: block;
  content: "<article>";
}
.postpage .entry-content:after {
  font-size: .75em;
  font-weight: lighter;
  color: #252525;
  display: block;
  content: "</article>";
}
.commentline {
  display: none;
}
